.my-custom-dialog{
    background-color:#2f2544;
    h1{
        font-family: "monserrat-bold", sans-serif;
        color: white;
        font-size: 1.5rem;
    }
    .text{
        font-family: "monserrat-light", sans-serif;
        color: white;
    }
    button{
        color: white;
        background-color: #e65e59;
        font-family: "monserrat-light", sans-serif;

    }

}

