@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');

$backgroud:#171123b0;
$red:rgb(235, 4, 62);

.cont-navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 5rem;
  background-color:$backgroud;
  width: 60%;
  margin: 0 auto;
}w

.cont-left {
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: blue;
 
  .titulo {
    width: 90%;
    font-size: 38px;
    font-weight: 600;
    color: white;
    // background-color: red;
    font-family: "Rowdies", sans-serif;
  }
}

.cont-center {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  // background-color: blue;
  width: 40%;
  margin-left:2rem;
  text-align: center;

  button {
    color: white;
   font-family: 'Segoe UI', sans-serif;

    // background-color: red;
    margin-left: 15px;
    font-size: 15px;
    // font-weight: 500;
  }
}

.cont-right {
  // background-color: green;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 20%;
  button {
    margin-left: 15px;

    color: white;
    font-size: 20px;
    background-color:$red;
  }
}
