<mat-toolbar class="cont-navbar">


  <div class="cont-left">
    @if(!isDesktop){
      <img width="12.6rem" class="logo" src="../../../assets/logo/tiny.png" alt="milogo" (click)="increaseClick()">
    }@else {
      <img width="7rem"  class="logo" src="../../../assets/logo/tiny.png"  alt="milogo" (click)="increaseClick()" >
    }
  </div>

  <div class="cont-right">
    @if (isDesktop) {
    <!-- <button mat-button>Inicio </button>
    <button mat-button>Sobre mi</button>
    <button mat-button>Portfolio</button>
    <button mat-button>Contactame</button> -->
  }
  </div>

 
</mat-toolbar>