<mat-toolbar class="cont-navbar" >
    <div class="cont-left">
        <span class="titulo"> Fernando Gomez </span>
    </div>
    <div class="cont-center">
        <p>sd</p>
    </div>
    <span class="example-spacer"></span>
    <div class="cont-right">

    </div>  
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>

</mat-toolbar>