// $red-target: #d6d6d6;

// section {
//   display: flex;
//   align-items: center;
//   flex-direction: column;
//   justify-content: center;

//   width: 75%;
//   height: auto;
//   margin: 0 auto;
//   margin-top: 85px;
//   border-radius: 20px;
// }

// .cont-one {
//   display: flex;
//   align-items: center;
//   // background-color: red;
//   width: 65rem;
//   padding-bottom: 1.7rem;
//   padding-top: 0.5rem;

//   button {
//     color: white;
//     font-family: "monserrat-regular", sans-serif;
//     font-size: 16px;
//   }
//   mat-icon {
//     color: #e65e59;
//   }
// }

// .cont-two {
//   // background-color: rgb(170, 67, 67);
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: row;
// }

// .box {
//     // background-color: red;
//   width: 35rem;
//   height: 42rem;
//   border-radius: 30px;
// }

// .info {
//   // background-color: rgb(95, 33, 22);
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   margin-left: 8rem;
//   img {
//     width: 31rem;
//     height: 100%;
//     border-radius: 20px;
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-position: center;
//     opacity: 0.45;
//   }
// }

// .form {
//   // background-color: $red-target;
//   align-items: center;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   padding-left: 4rem;
//   width: 39rem;

//   form {
//     // background-color: #9e4a47;
//     align-items: center;
//     display: flex;
//     flex-direction: column;
//     height: 42rem;
//     width: 39rem;

//     .title {
//       //   background-color: #e77f7b;
//       color: rgb(255, 255, 255);
//       font-family: "monserrat-bold", sans-serif;
//       font-size: 2.5rem;
//       margin-top: 2rem;
//       margin-bottom: 3rem;
//       width: 80%;
//     }

//     mat-form-field {
//       margin-bottom: 0.2rem;
//       resize: none;
//       width: 80%;
//     }
//     .text {
//       height: 20rem;
//       width: 80%;
//     }

//     textarea {
//       resize: none;
//     }

//     button {
//       margin-bottom: 2rem;
//       border-radius: 15px;
//       font-family: "monserrat-bold", sans-serif;
//       font-size: 1rem;
//       color: white;
//       background-color: #e65e59;
//       width: 70%;
//       height: 3.5rem;
//     }
//   }
// }

// @media (max-width: 1250px) {
//   .cont-one {
//     // background-color: red;
//     width: 54rem;
//     button {
//       font-family: "monserrat-regular";
//       font-size: 14px;
//     }
//   }

//   .box {
//     // background-color: red;
//     width: 28rem;
//     height: 40rem;
//   }

//   .info {
//     margin-left: 0rem;
//     img {
//       width: 24rem;
//       height: 40rem;
//     }
//   }

//   .form {
//     padding-left: 0rem;
//     form {
//       // background-color: #9e4a47;
//       width: 30rem;
//       height: 40rem;
//     }
//   }
// }

// @media (max-width: 900px) {
//   section {
//     // background-color: rgb(36, 56, 49);
//     width: 90%;
//   }
//   .cont-one {
//     // background-color: red;
//     width: 100%;
//     button {
//       font-family: "monserrat-regular";
//       font-size: 14px;
//     }
//   }

//   .cont-two {
//     // background-color: rgb(170, 67, 67);
//     flex-direction: column;
//   }

//   .box:nth-child(1) {
//     // background-color: red;
//     width: 100%;
//     height: 10rem;
//     overflow: hidden;
//   }

//   .info {
//     img {
//       width: 100%;
//       height: auto;
//       object-fit:cover;
//       opacity: 0.45;
//     }
//   }
//   .box:nth-child(2) {
//     // background-color: red;
//     width: 90%;
//     height: 37rem;
//   }
//   .form {
//     // padding-left: 0rem;
//     form {
//       // background-color: #9e4a47;
//       width: 100%;
//       height: 37rem;

//       .title {
//         // background-color: #e77f7b;
//         font-size: 2rem;
//         margin-top: 1.2rem;
//         margin-bottom: 1.2rem;
//         text-align: center;
//       }

//       mat-form-field {
//         margin-bottom: 0.1rem;
//         width: 98%;
//       }
//       .text {
//         height: 27rem;
//         width: 96%;
//       }
//       button {
//         width: 70%;
//         height: 5rem;
//       }

//     }

//   } 
// }
$red-target: #d6d6d6;

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  height: auto;
  margin: 0 auto;
  margin-top: 75px;
  border-radius: 20px;
}

.cont-one {
  display: flex;
  align-items: center;
  width: 65rem;
  padding: 0.5rem 0;
  button {
    color: white;
    font-family: "monserrat-regular", sans-serif;
    font-size: 16px;
  }
  mat-icon {
    color: #e65e59;
  }
}

.cont-two {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.box {
  width: 35rem;
  height: 42rem;
  border-radius: 30px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8rem;
  img {
    width: 31rem;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    opacity: 0.45;
  }
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4rem;
  width: 39rem;

  form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 42rem;
    width: 39rem;

    .title {
      color: #fff;
      font-family: "monserrat-bold", sans-serif;
      font-size: 2.5rem;
      margin: 2rem 0 3rem;
      width: 80%;
    }

    mat-form-field {
      margin-bottom: 0.2rem;
      resize: none;
      width: 80%;
    }

    .text {
      height: 20rem;
      width: 80%;
    }

    textarea {
      resize: none;
    }

    button {
      margin-bottom: 2rem;
      border-radius: 15px;
      font-family: "monserrat-bold", sans-serif;
      font-size: 1rem;
      color: #fff;
      background-color: #e65e59;
      width: 70%;
      height: 3.5rem;
    }
  }
}

.disabled-style {
  background-color: #4e2a28;
}

@media (max-width: 1250px) {
  .cont-one {
    width: 50rem;
    button {
      font-family: "monserrat-regular";
      font-size: 14px;
    }
  }

  .box {
    width: 28rem;
    height: 40rem;
  }

  .info {
    margin-left: 0rem;
    img {
      width: 24rem;
      height: 40rem;
    }
  }

  .form {
    padding-left: 0rem;
    form {
      width: 30rem;
      height: 40rem;
    }
  }
}

@media (max-width: 900px) {
  section {
    width: 90%;
  }

  .cont-one {
    width: 100%;
    button {
      font-family: "monserrat-regular";
      font-size: 14px;
    }
  }

  .cont-two {
    flex-direction: column;
  }

  .box:nth-child(1) {
    width: 100%;
    height: 8rem;
    overflow: hidden;
  }

  .info {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      opacity: 0.45;
    }
  }

  .box:nth-child(2) {
    width: 90%;
    height: 37rem;
  }

  .form {
    form {
      width: 100%;
      height: 35rem;

      .title {
        font-size: 2rem;
        margin: 1.2rem 0;
        text-align: center;
      }

      mat-form-field {
        margin-bottom: 0.1rem;
        width: 98%;
      }

      .text {
        height: 27rem;
        width: 96%;
      }

      button {
        width: 70%;
        height: 6rem;
      }
    }
  }
}