
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff"
  type="square-jelly-box" [fullScreen]="true"><p style="color: white">
    Enviado correo, espere por favor... </p></ngx-spinner>

<section>
  
  <div class="cont-one">
    <button mat-button routerLink="/presentation"> Inicio</button>
    <mat-icon>arrow_forward</mat-icon>
    <button mat-button routerLink="/contact"> Contacto</button>
  </div>

  <div class="cont-two">
    <div class="box info">

      @if (isDesktop) {
      <img class="contact"
        src="../../../../assets/logo/contact.gif"
        alt="photo">

      }@else {
      <img class="contact"
        src="../../../../assets/gif/banner.gif"
        alt="photo">
      }

    </div>
    <div class="box form">

      <form [formGroup]="this.formEmail">
        <h2 class="title">Contácteme! </h2>

        <mat-form-field>
          <mat-label>Nombre y Apellido</mat-label>
          <input type="name" name="name" matInput formControlName="name"
            required>
          @if (nombre.invalid) {
          <mat-error>{{getErrorMessage(1,'Debe ingresar un nombre ')}}</mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Su email</mat-label>
          <input type="email" name="email" matInput
            placeholder="pat@ejemplo.com"
            formControlName="email"
            required>
          @if (correo.invalid) {
          <mat-error>{{getErrorMessage(2,'Debes ingresar un email')}}</mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label> Asunto de contacto</mat-label>
          <input name="subject" matInput
            placeholder="Ingrese asunto de contacto"
            formControlName="subject"
            required>
        </mat-form-field>

        <mat-form-field class="text">
          <mat-label>Escriba el Mensaje</mat-label>
          <textarea class name="message" maxlength="256"
            formControlName="message"
            matInput></textarea>

        </mat-form-field>
        <button [disabled]="!this.formEmail.valid" disabledInteractive
          matTooltip="This is a tooltip!" (click)="send()"
          type="submit"
          mat-button>Enviar Mensaje</button>

      </form>

    </div>

  </div>

</section>