$red: rgb(235, 4, 62);
$red-target: #be4b47;
$red-target-hover: #e65e59;

section {
  margin-top: 85px;
}

a {
  text-decoration: none;
  color: white;
}

.container-grid {
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "perfil perfil perfil cv"
    "perfil perfil perfil cv"
    "perfil perfil perfil contact"
    "perfil perfil perfil contact"
    "linkedin edad proyect proyect "
    "linkedin edad  proyect proyect ";
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.box {
  border-radius: 20px;
  margin: 10px;
  background-color: rgb(92, 99, 92);
}

// --------------------------------------  BOTONES  --------------------------------------

.perfil {
  grid-area: perfil;
  background-color: $red-target;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .photo {
    width: 310px;
    filter: grayscale(0%) drop-shadow(2px 4px 7px #000000);
    margin-left: 3rem;
  }

  .container-info {
    // background-color: red;
    margin-left: 3rem;
    margin-top: 6rem;
    display: flex;
    width: 50%;
    flex-direction: column;
  }

  h2 {
    font-family: "monserrat-bold", sans-serif;
    font-size: 2.5rem;
    line-height: 1;
    width: 80%;
    height: 70%;
    margin-bottom: 2.5rem;
    // background-color: blue;
  }
  p {
    width: 26rem;
    // background-color: red;
    font-family: "monserrat-thin", sans-serif;
    font-size: 1.2rem;
    line-height: 1.1;
    overflow: hidden;
    text-overflow: ellipsis;
    // letter-spacing: 0.1em;
  }

  button {
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 15px;
    font-family: "monserrat-bold", sans-serif;
    font-size: 1rem;
    color: white;
    // background-color:#e65e59;
    width: 35%;
  }
}

.cv {
  grid-area: cv;
  background-color: $red-target;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;

  h2 {
    font-family: "monserrat", sans-serif;
    font-size: 1.5rem;
  }
  mat-icon {
    font-size: 2.6rem;
    width: auto;
    height: auto;
  }
}

.contact {
  grid-area: contact;
  background-color: $red-target;
  display: flex;
  align-items: center;
  flex-direction: center;
  justify-content: center;
  color: white;

  mat-icon {
    width: auto;
    height: auto;
    font-size: 6rem;
  }
}

.proyect {
  grid-area: proyect;

  position: relative;
  img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
  }

  .text {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 2rem;
  }
  h2 {
    font-family: "monserrat-bold", sans-serif;
    font-size: 1.5rem;
    position: relative;
    z-index: 5;
    color: white;
  }

  h3 {
    font-family: "monserrat-light", sans-serif;

    position: relative;
    z-index: 5;
    width: 70%;
    color: white;
  }
}

.linkedin {
  grid-area: linkedin;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e76a8;
  h2 {
    font-family: "linkedin", sans-serif;
    font-size: 9rem;
    color: white;
  }
}

.age {
  grid-area: edad;

  font-family: open;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  background-color: rgb(175, 175, 106);

  h2 {
    font-family: "monserrat-bold", sans-serif;
    font-size: 5rem;
    padding: 1rem;
  }

  h3 {
    font-size: 1.3rem;
    font-family: "monserrat-semibold", sans-serif;
  }
  h4 {
    font-size: 1.2rem;
    font-family: "monserrat-thin", sans-serif;
  }
}
// --------------------------------------  HOVER       --------------------------------------

.contact,
.cv,
.perfil,
.linkedin {
  transition: background-color 0.2s ease;
}

.linkedin:hover {
  background-color: #1087be;
}

.contact:hover,
.cv:hover,
.perfil:hover {
  background-color: $red-target-hover;
}

// --------------------------------------  MEDIA QUERIES  --------------------------------------

@media (max-width: 1330px) {
  .container-grid {
    width: 100%;
  }

  .perfil {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    .photo {
      width: 250px;
      filter: grayscale(0%) drop-shadow(2px 4px 7px #000000);
      margin-left: 1rem;
    }

    .container-info {
      padding: 20px;
      margin: 0;
      width: 90%;
      // background-color: blue    ;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    h2 {
      font-size: 1.8rem;
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;
    }
    p {
      width: 80%;
      font-size: 1.1rem;
      line-height: 1.1;
    }

    button {
      margin-top: 1rem;
      border-radius: 15px;
      font-size: 1rem;
      color: white;
      background-color: #e65e59;
      width: 15rem;
    }
  }

  .cv {
    h2 {
      font-family: "monserrat", sans-serif;
      font-size: 0.9rem;
    }
    mat-icon {
      font-size: 1.9rem;
      width: auto;
      height: auto;
    }
  }

  .contact {
    mat-icon {
      font-size: 4rem;
    }
  }

  .linkedin {
    h2 {
      font-size: 5rem;
    }
  }

  .age {
    h2 {
      font-size: 3.5rem;
      padding: 0.5rem;
    }

    h3 {
      font-size: 1rem;
    }
    h4 {
      font-size: 1rem;
    }
  }

  .proyect {
    .text {
      margin-top: 2rem;
      margin-left: 2rem;
    }
    h2 {
      font-size: 1.3rem;
      position: relative;
      z-index: 5;
      color: white;
    }

    h3 {
      font-size: 0.9rem;
      z-index: 5;
      width: 90%;
      height: 7rem;
      color: white;
    }
  }
}

@media (max-width: 650px) {
  .container-grid {
    width: 90%;
    height: auto;
    grid-template-areas:
      "perfil"
      "cv"
      "contact"
      "linkedin"
      "edad"
      "proyect";
    grid-template-columns: 1fr; /* Crea una única columna */
  }

  .perfil {
    grid-area: perfil;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    .container-info {
      padding: 20px;
      margin: 0;
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    h2 {
      font-size: 1.5rem;
      width: 100%;
      text-align: center;
      margin-bottom: 1rem;
    }
    p {
      width: 80%;
      font-size: 1rem;
      line-height: 1.1;
    }

    button {
      margin-top: 1rem;
      border-radius: 15px;
      font-size: 1rem;
      color: white;
      background-color: #e65e59;
      width: 60%;
    }
  }
}
