$red: rgb(235, 4, 62);
$red-target: #be4b47;
$red-target-hover: #e65e59;

section {
  margin-top: 85px;
}
a {
  text-decoration: none;
  color: white;
}
.container-grid {
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "perfil perfil perfil cv"
    "perfil perfil perfil contact"
    "linkedin edad  proyect proyect ";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
}

.box {
  border-radius: 20px;
  background-color: rgb(92, 99, 92);
  display: flex;
  align-items: center;
  justify-content: center;
}

.perfil {
  grid-area: perfil;
  background-color: $red-target;
  color: white;

  .photo {
    width: 310px;
    filter: grayscale(0%) drop-shadow(2px 4px 7px #000000);
    margin-left: 3rem;
  }

  .container-info {
    margin-left: 3rem;
    margin-top: 4rem;
    width: 60%;
  }

  h2 {
    font-family: "monserrat-bold", sans-serif;
    font-size: 2.5rem;
    line-height: 1;
    width: 35rem;
    text-align: center;

    mat-icon:hover {
      color: antiquewhite;
      cursor: pointer;
    }
  }

  
  .cont-descripcion {
    width: 35rem;
    height: 12rem;
    // background-color: red;
    display: flex;
    align-items: center;
    p {
      width: 100%;
      font-family: "monserrat-thin", sans-serif;
      padding-left: 2.3rem;
      font-size: 1.2rem;
      line-height: 1.2;

      display: -webkit-box;
      -webkit-line-clamp: 12;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  button {
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 15px;
    font-family: "monserrat-bold", sans-serif;
    font-size: 1rem;
    color: white;
    width: 35%;
  }
}

.cv {
  grid-area: cv;
  background-color: $red-target;
  flex-direction: column;
  color: white;

  h2 {
    font-family: "monserrat", sans-serif;
    font-size: 1.3rem;
  }
  mat-icon {
    padding: 10px;
    font-size: 2.4rem;
    width: auto;
    height: auto;
  }
}

.contact {
  grid-area: contact;
  background-color: $red-target;
  color: white;

  mat-icon {
    width: auto;
    height: auto;
    font-size: 6rem;
    cursor: pointer;
  }
}

.proyect {
  grid-area: proyect;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
  }

  .text {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 2rem;
  }
  h2 {
    font-family: "monserrat-bold", sans-serif;
    font-size: 1.5rem;
    position: relative;
    z-index: 5;
    color: white;
  }

  h3 {
    font-family: "monserrat-light", sans-serif;
    position: relative;
    z-index: 5;
    width: 70%;
    color: white;
  }
}

.linkedin {
  grid-area: linkedin;
  background-color: #0e76a8;
  h2 {
    font-family: "linkedin", sans-serif;
    font-size: 8rem;
    color: white;
  }
}

.age {
  grid-area: edad;
  font-family: open;
  flex-direction: column;
  color: rgb(255, 255, 255);
  background-color: rgb(175, 175, 106);

  h2 {
    font-family: "monserrat-bold", sans-serif;
    font-size: 4.3rem;
    padding: 1rem;
  }

  h3 {
    font-size: 1.3rem;
    font-family: "monserrat-semibold", sans-serif;
  }
  h4 {
    font-size: 1.2rem;
    font-family: "monserrat-thin", sans-serif;
  }
}
// --------------------------------------  HOVER       --------------------------------------

.contact,
.cv,
.perfil,
.linkedin {
  transition: background-color 0.2s ease;
}

.linkedin:hover {
  background-color: #1087be;
}

.contact:hover,
.cv:hover,
.perfil:hover {
  background-color: $red-target-hover;
}

// --------------------------------------  MEDIA QUERIES  --------------------------------------

@media (max-width: 1330px) {
  .container-grid {
    width: 96%;
  }

  .perfil {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    .photo {
      width: 16rem;
      margin-left: 1rem;
    }

    .container-info {
      padding: 20px;
      margin: 0;
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .cont-descripcion {
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: start;
        p{
          width: 100%;
         

        }
      }
    }

    h2 {
      font-size: 1.8rem;
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;
    }
    p {
      width: 80%;
      font-size: 1.1rem;
      line-height: 1.1;
    }

    button {
      background-color: #e65e59;
      width: 15rem;
    }
  }

  .cv {
    h2 {
      font-size: 0.9rem;
    }
    mat-icon {
      font-size: 1.9rem;
    }
  }

  .contact {
    mat-icon {
      font-size: 4rem;
    }
  }

  .linkedin {
    h2 {
      font-size: 5rem;
    }
  }

  .age {
    h2 {
      font-size: 3.5rem;
      padding: 0.5rem;
    }

    h3 {
      font-size: 1rem;
    }
    h4 {
      font-size: 1rem;
    }
  }

  .proyect {
    h2 {
      font-size: 1.3rem;
    }
    h3 {
      font-size: 0.9rem;
      width: 90%;
      height: 7rem;
    }
  }
}

@media (max-width: 650px) {
  .container-grid {
    grid-template-rows: 1fr 230px 230px 220px;
    grid-template-areas:
      "perfil perfil perfil perfil"
      "cv cv contact contact"
      "linkedin linkedin  edad edad "
      "proyect proyect proyect proyect";
  }
  .box {
    max-height: 300px;
  }
  .box:first-child {
    max-height: max-content;
  }

  .perfil {
    grid-area: perfil;

    h2 {
      font-size: 1.5rem;
      width: 100%;
      text-align: center;
      margin-bottom: 0.5rem;
      margin-top: 1rem;
    }
    p {
      width: 80%;
      margin-top: 1rem;
      font-size: 1rem;
      line-height: 1.1;
    }
    button {
      width: 60%;
    }
  }

  .contact {
    mat-icon {
      font-size: 4rem;
    }
  }
}
