<section>
    <div class="container-grid">
        <div class="box perfil">
            <div class="container-info">
                <h2>
                    Hola! Soy Fernando Gomez
                </h2>
                <p>Soy <strong>Analista de Sistemas</strong> recién graduado y
                    empleado en el
                    sector de <strong>Infraestructura de Redes</strong>
                    . En mi tiempo libre, perfecciono mis
                    habilidades de desarrollador con un enfoque en
                    <strong>Angular</strong> y
                    <strong> Node.js </strong>.
                    Siempre estoy buscando nuevas oportunidades para aplicar y
                    expandir mis habilidades en el campo de la tecnología.</p>
                    <button mat-button>Conocer Mas</button>

            </div>
        </div>


        <div class="box cv">
            <h2>OBTENER CV</h2>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
                fontIcon="download">

            </mat-icon>

        </div>
        <div class="box contact">

            <mat-icon aria-hidden="false" aria-label="Example home icon"
                fontIcon="mail">

            </mat-icon>


        </div>

        <div class="box proyect">
            <img src="../../../assets/gif/proyect.gif" alt="GIF">
            <div class="text">
                <h2>Proyectos y practicas</h2>
                <h3>Aca estan los proyectos y practicas que desarrolle a lo
                    largo de mis estudios</h3>
            </div>

        </div>

        <div class="box linkedin">
            <h2>in</h2>
        </div>

        <div class="box age">
            <h4>EDAD</h4>
            <h2>{{this.age}}</h2>
            <h3>AÑOS</h3>
        </div>
    </div>

</section>
